@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* ################################################
             	   Colors
################################################# */
/* ################################################
             	   Mixins
################################################# */
/* ################################################
                General Settings
################################################# */
a {
    color: #18ab8e;
    text-decoration: none; }
a:hover {

    text-decoration: underline; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none; }

.clear {
  clear: both; }

.noMarginLeft {
  margin-left: 0 !important; }

.noMarginRight {
  margin-right: 0 !important; }

.noMarginTop {
  margin-top: 0 !important; }

.noMarginBottom {
  margin-bottom: 0 !important; }

.hideElement {
  display: none; }

/* ################################################
                    Page Layout
################################################# */
body {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-family: Open Sans;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0; }

code {
  background-color: #eee;
  color: black;
  padding: 0.4em; }

blockquote {
  font-style: italic;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  text-align: center;
  margin: 0;
  padding: 2em 0;
  float: left; }
  blockquote b {
    width: 100%;
    display: block; }
  blockquote.quote {
    background-color: #f6f6f6;
    float: none; }
    blockquote.quote img, blockquote.quote p {
      margin: 1em auto;
      display: block; }
  blockquote img {
    margin: 1em auto;
    margin-bottom: 3em;
    display: block; }
  blockquote article {
    width: 50%;
    padding: 40px;
    float: left; }
    blockquote article.icon1 {
      background-image: url(../img/emacs-icon.png) no-repeat center top; }
    blockquote article.icon2 {
      background-image: url(../img/emacs-icon2.png) no-repeat center top; }

.col {
  width: 50%;
  padding: 0 5%;
  display: table-cell; }

nav#nav-container {
    background-image: url("../img/color14.png");
    background-position: right;
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-bottom: 1px solid #777;
    text-align: center;
    height: 93px;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 5%; }
nav#nav-container img {
    margin: 10px 0; 
    display: block;
    max-height:150px;
    width: auto;
    height: auto;
    float: left; }
nav#nav-container ul#left {
    float: left;
    margin: 1.8em 0; }
nav#nav-container ul#left li {
    display: inline;
    list-style: none;
    font-size: 1.8em; }
nav#nav-container ul#left li a {
    color: white; }
nav#nav-container ul#left li a:hover {
    color: #3D5B97;
    text-decoration: none; }

nav#nav-container ul#right {
    float: right;
    margin: 1.8em 0 ; }
nav#nav-container ul#right li {
    display: inline;
    list-style: none;
    padding-left: 1.8em;
    font-size: 0.9em; }
nav#nav-container ul#right li a {
    color: white; }
nav#nav-container ul#right li a:hover {
    color: #23ffd4;
    text-decoration: none; }

main {
    display: block;
    position: absolute;
    width: 100%;
    top: 92px;
    left: 0; }

section {
  width: 100%;
  display: block;
  position: relative;
  border-bottom: 1px solid #d7dddd; }
  section > span {
    position: relative;
    top: -92px;
    display: block;
    width: 1px;
    height: 1px; }
  section div {
    padding: 4em 5%;
    overflow: hidden;
    width: 100%;
    margin: auto; }
  section.lightGreen {
    background-color: #BCC0EB; }
  section.lightBlue {
    background-color: #E1F7FF;}
  section.darkGrey {
    background-color: #333333;
    color: white;}
  section.black {
    background-color: black;
    color: white; }
  section.white {
    background-color: white;
    color: black;}
  section li {
    padding-bottom: 1em; }
  section img.mobile {
    display: none; }

.right {
  float: right;
  margin-left: 20px; }

.left {
  float: left;
  margin-right: 20px; }

.howto {
  display: block;
  margin: 2em auto;
  clear: both;
  max-width: 600px;
  width: 80%; }

.btn {
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #1cbbb4;
  color: #1cbbb4;
  background-color: transparent;
  text-shadow: none;
  margin-top: 30px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  font-style: normal; }
  .btn:hover {
    border: 1px solid #1cbbb4;
    outline: 0;
    color: #fff;
    background-color: #1cbbb4;
    text-decoration: none; }

.code {
  font-family: Courier;
  font-size: 6em;
  text-align: center;
  padding: 2em 5%; }
  .code.green {
    background-color: #1cbbb4;
    color: white; }

#footer {
  padding: 2em 0 0 0;
  text-align: center; }
  #footer div {
    padding: 0 5% 3em;
    text-align: center;
    font-size: 0.8em; }
  #footer a {
    color: #1cbbb4; }

  .bullet li{
    list-style-type: disc;
}
